[user]
    name = Joel Heinerud
[core]
    editor = vim
[color]
    ui = true
[color "branch"]
    current = green bold
    local = white bold
    remote = red bold
[color "diff"]
    meta = cyan bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    deleted = red bold
    changed = yellow bold
    untracked = red bold
[alias]
    a = add
    aa = add --all
    amend = commit --amend
    ap = add -p
    b = branch
    cb = !git b | tac | fzf | xargs -r git co
    ci = commit --verbose
    cl = clean -fdxn
    co = checkout
    cp = checkout -p
    f = fetch
    fp = fetch -p
    g = grep
    l = log --oneline --graph
    ls = ls-files
    s = status
    d = diff
    dh = diff --find-copies-harder
[pull]
	ff = only
[push]
	autoSetupRemote = true
